<h2>Login via Magic Link</h2>

<%= form_with url: create_user_magic_link_path, method: :post do |f| %>
  <div>
    <%= label_tag :email %><br>
    <%= email_field_tag :email, nil, required: true %>
  </div>

  <div>
    <%= submit_tag "Send Magic Link" %>
  </div>
<% end %>

<%= flash[:notice] %>
<%= flash[:alert] %>
