<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <nav class="flex items-center justify-between py-3">
    <div class="flex-1 flex justify-between">
      <% unless current_page.first? %>
        <%= link_to_prev_page(collection, 'Previous', class: 'relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50') %>
      <% else %>
        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-300 bg-white cursor-not-allowed">Previous</span>
      <% end %>
      
      <div class="hidden md:flex">
        <% each_page do |page| -%>
          <% if page.display_tag? -%>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end -%>
        <% end -%>
      </div>
      
      <% unless current_page.last? %>
        <%= link_to_next_page(collection, 'Next', class: 'relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50') %>
      <% else %>
        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-300 bg-white cursor-not-allowed">Next</span>
      <% end %>
    </div>
  </nav>
<% end -%>
